* {
  margin: 0;
  padding: 0; }

.turnos {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  color: white; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
  list-style: none;
  color: white;
  background-color: black;
  width: 100%;
  align-self: flex-end; }

.iconosFooter {
  text-decoration: none;
  color: gray; }

.iconosFooter:hover {
  color: white;
  text-shadow: 2px 2px 15px white; }

.header {
  background-color: black; }

.logo {
  width: 200px; }
  .logo:hover {
    filter: drop-shadow(-1px 1px 34px #ffffff); }
  .logoGrande {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
    overflow: visible; }
    .logoGrande:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.videosIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-content: space-around;
  flex-direction: row;
  min-height: 60vh;
  width: 100%; }

.videosTam {
  height: 500px;
  display: flex;
  align-items: baseline; }

.turnos {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 10%;
  color: white; }

.gradienteNavbar {
  background: #959595;
  background: linear-gradient(180deg, #646464 0%, #2c2c2c 35%, black 100%) !important; }

.logoNav:hover {
  -webkit-box-shadow: 10px 10px 15px 10px white;
  box-shadow: 10px 10px 15px 10px white; }

.nav-item:hover {
  text-shadow: 2px 2px 15px white; }

.noPuntos {
  text-decoration: none; }

th {
  text-decoration: white;
  min-height: 100vh; }

.carousel {
  width: 500px;
  min-height: 40vh;
  margin: auto;
  display: block;
  margin: auto; }

.sombraTexto {
  text-shadow: 1px 1px 8px #0A0A0A; }

body {
  background-image: url("../background/backgroundPoligonos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 10px; }

@media only screen and (max-width: 768px) {
  .carousel {
    width: 100%;
    min-height: 100vh; }
  .videosIndex {
    display: flex;
    justify-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    min-height: 100vh; }
  .logoGrande {
    display: none; }
  body {
    background-image: url("../background/backgroundPoligonos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; }
  .footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
    color: white;
    background-color: black;
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    height: 30vh; }
  .iconosFooter {
    text-decoration: none;
    color: gray;
    width: 100%; }
  .table-responsive {
    text-decoration: white;
    min-height: 100vh; }
  .turnos {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 30%;
    color: white;
    min-height: 100vh; }
  .navbarNav {
    min-height: 100vh; }
  .videosTam {
    width: 500px;
    min-height: max-content; } }
