* {
  margin: 0;
  padding: 0; }

.turnos {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  color: white; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  align-content: flex-end;
  list-style: none;
  color: white;
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end; }

.iconosFooter {
  text-decoration: none;
  color: gray; }

.iconosFooter:hover {
  color: white;
  text-shadow: 2px 2px 15px #9E0303; }

.header {
  background-color: black; }

.logo {
  width: 200px; }
  .logo:hover {
    filter: drop-shadow(-1px 1px 34px #790C0C); }
  .logoGrande {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
    overflow: visible; }
    .logoGrande:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

.turnos {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  padding: 10%;
  color: white; }

.gradienteNavbar {
  background: #959595;
  background: linear-gradient(180deg, #646464 0%, #2c2c2c 35%, black 100%) !important; }

.logoNav:hover {
  -webkit-box-shadow: 10px 10px 15px 10px #730D09;
  box-shadow: 10px 10px 15px 10px #730D09; }

.nav-item:hover {
  text-shadow: 2px 2px 15px #9E0303; }

.videosIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: stretch;
  margin: auto; }

.noPuntos {
  text-decoration: none; }

.videosTam {
  width: 100%;
  height: 70vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  margin: auto; }

.videoDos {
  padding-top: 20vh; }

th {
  text-decoration: white; }

.carousel {
  width: 500px;
  min-height: 40vh;
  margin: auto;
  display: block;
  margin: auto; }

.sombraTexto {
  text-shadow: 1px 1px 8px #0A0A0A; }

body {
  background-image: url("../background/backgroundPoligonos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto; }

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
  list-style: none;
  color: white, background-color black; }

a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 10px; }

@media only screen and (max-width: 768px) {
  .carousel {
    width: auto; }
  .videosIndex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin: auto; }
  .videosTam {
    width: 90vw;
    height: 45vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto; }
  .logoGrande {
    display: none; }
  body {
    background-image: url("../background/backgroundPoligonos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto; }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    list-style: none;
    color: white;
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end; }
  .iconosFooter {
    text-decoration: none;
    color: gray; } }
