.turnos {
    @extend %flex-center ;
}


.header {
background-color : map-get($colores, negro )
}

.logo {
width: 200px;

&:hover {
    filter: drop-shadow(-1px 1px 34px #ffffff);
}

 &Grande {

     width: 200px;
     height: auto;
     display: block;
     margin: auto;
     overflow:visible;

     &:hover {
         -webkit-transform:scale(1.1);transform:scale(1.1);


     }
 }


}

.videosIndex {
    display:grid;
    grid-template-columns: 1fr 1fr 2fr;
    
    align-content: space-around;
    flex-direction: row;
  min-height: 60vh;
   width: 100%;
}

.videosTam {
    height: 500px;
    display: flex;
    align-items: baseline;





}




.turnos {
display: flex;
 justify-items:center;
 align-items:center;
 flex-direction: column;
 list-style: none;
 padding: 10%;
 color: map-get($colores, blanco);
}

.gradienteNavbar {
    background: rgb(149,149,149);
    background: linear-gradient(180deg, rgb(100, 100, 100) 0%, rgb(44, 44, 44) 35%, rgba(0,0,0,1) 100%)!important;
 } 

 .logoNav:hover {
    -webkit-box-shadow: 10px 10px 15px 10px white;
    box-shadow: 10px 10px 15px 10px white;
 }

 .nav-item {
    

 
 &:hover {
    
    text-shadow: 2px 2px 15px white;
    

 }};



.noPuntos {
    text-decoration: none;
}




th {
text-decoration: map-get($colores, blanco );
min-height: 100vh;

}

.carousel {

width: 500px;
min-height: 40vh;
margin: auto;
display: block;
margin: auto;


}



.sombraTexto {
    text-shadow: 1px 1px 8px #0A0A0A;
}

body {
background-image: url("../background/backgroundPoligonos.jpg");
background-repeat: no-repeat;
background-position: center;
display:grid;
min-height: 100vh;
grid-template-rows: auto 1fr auto;
}



a {
display: flex;
justify-content: center;
flex-direction: row;
margin: 10px;
}
