.footer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: flex-end;
     list-style: none;
     color: white;
     background-color: map-get($colores,  negro );
     width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end;}

     .iconosFooter {
        text-decoration: none;
        background-color: map-get($colores,gris);
    }