

.footer {

         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-around;
         align-items: flex-end;
         align-content: flex-end;
        list-style: none;
        
        background-color: map-get($colores,  negro );
        width: 100%; 
       align-self: flex-end;
       background: linear-gradient(180deg, rgb(61, 61, 61) 0%, rgb(32, 32, 32) 35%, rgb(0, 0, 0) 100%)!important;
       
       }
         

     .iconosFooter {
        text-decoration: none;
       color: map-get($colores,gris);
        
    };

    .iconosFooter:hover {
       color: white;
       text-shadow: 2px 2px 15px white;
    }