@media only screen and (max-width: 768px) {
    .carousel {
        width: 100%;
        min-height: 100vh;
   } 

   .videosIndex {
    display: flex;
    justify-items: center;
    flex-direction: column;
       
       height: auto;
       width: 100%;
       min-height:100vh;
       

      
       
   }


  

   .logoGrande {
       display:none;
     
      
   }

   body {
    background-image: url("../background/backgroundPoligonos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    }

   .footer {

    display: flex;
    flex-direction:column;
     align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
 

    
     list-style: none;
     color: map-get($colores, blanco);
     background-color: map-get($colores,  negro );
     width: 100%;  
    /* min-height: 30vh; */

       }

     .iconosFooter {
        text-decoration: none;
        color: map-get($colores,gris);
        /* width: 100% */
        
        
    }

    .table-responsive {
        text-decoration: map-get($colores, blanco );
        min-height: 100vh;
        }

        .turnos {
            display: flex;
             justify-items:center;
             align-items:center;
             flex-direction: column;
             list-style: none;
             padding: 10%;
             color: map-get($colores, blanco);
             min-height: 100vh;
            }


            .navbarNav {
          min-height:  100vh;
            }


    .videosTam {
       width: 500px;
       padding: 10px;
       
       
}


       
        
        }
        


   
        
