@media only screen and (max-width: 768px) {
    .carousel {
        width: auto
   } 

   .videosIndex {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
      
       justify-content:space-around;
       align-items: center;
       align-content: stretch;
       margin: auto
   }

  

   .logoGrande {
       display:none;
     
      
   }
   
        }
