@media only screen and (max-width: 768px) {
    .carousel {
        width: auto
   } 

   .videosIndex {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
      
       justify-content:space-around;
       align-items: center;
       align-content: stretch;
       margin: auto
   }


   .videosTam {
    width: 90vw;
    height: 45vh;
    overflow:hidden;
    display: flex;
    justify-content: center;
    margin: auto;
    }

  

   .logoGrande {
       display:none;
     
      
   }

   body {
    background-image: url("../background/backgroundPoligonos.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display:grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    }

   .footer {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
     list-style: none;
     color: map-get($colores, blanco);
     background-color: map-get($colores,  negro );
     width: 100%; display: flex; flex-wrap: wrap; align-self: flex-end;}

     .iconosFooter {
        text-decoration: none;
        color: map-get($colores,gris);
        
    }


   
        }
